/* Reset */
*{
    margin: 0;
    padding: 0;
}
input:focus,textarea:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}
:root{
    --cor-dourada: #FFE600;
}
a{
    color: black;
}
h4{
    color: var(--cor-dourada);
}
/* Header */
header{
    width: calc(100% - 4px);
    padding: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.box-titulos-header{
    text-align: center;
}
.box-titulos-header h1{
    margin-bottom: -6px;
}

.box-link-home{
    width: 90%;
    display: flex;
    justify-content: end;
}
.link-home{
    padding: 5px;
    color:white;
    border: 1px solid var(--cor-dourada);
    border-radius: 5px;
    transition: 0.2s;
}

/* Section */

section{
    /* margin: 0 auto; */
    margin-top: 2px;
    /* width: 60vw; */
    padding: 15px;
    border-radius: 20px;
}
h2{
    text-align: center;
}

.boxs-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
form{
    width: 100%;
}
.formato-inputs{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 2px;
}

button{
    padding: 5px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    border-radius:10px ;
    background-color: transparent;
}

.box-botoes{
    display: flex;
    justify-content: space-evenly;
}

textarea{
    border: 1px solid black;
    padding: 2px;
}

::placeholder{
    color: black;
}
/* FOOTER */
footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}

@media (min-height: 620px){
    footer{
        position: absolute;
        bottom: 0px;
        width: calc(100% - 20px);
    }
}

.link-home:hover  {
    background-color: var(--cor-dourada);
    color: black;
}