    /* Reset */
*{
    margin: 0;
    padding: 0;
}
 
    /* configurações do gerais */
:root{
    --cor-dourada: #FFE600;
    --cor-cinza: rgba(224,244,244,0.89);
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: loop-imagens-background 40s linear infinite;
}

p{
    font-size: 2.93972602739726vh;
}

    /* Header */
header{
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container-logo-e-titulo{
    display: flex;
    align-items: center;
}

.img-header{
    width: 180px;
    margin-top: 18px;
}

.titulo-site{
    color: white;
}

.subtitulo{
    color: var(--cor-dourada);
    margin-top: -15px;
}

.box-titulo-e-subtitulo{
    margin-left: -30px;
}

    /* Nav */
.ul-nav{
    display: flex;
    width: 500px;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
}

nav a{
    color: white;
    font-size: 2.93972602739726vh;
    text-decoration: none;
    transition: 0.2s;
}

.li-menu{
    display: none;
}

.link-login{
    padding: 10px;
    border: 2px solid var(--cor-dourada);
    border-radius: 5px;
}

        /* Main */
    /* sobre Nós */
.section-sobre-nos{
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.93972602739726vh;
    padding: 10px;
    padding-top: 20px;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor-cinza);
}

.box-carrosel-sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.box-sobre-nos{
    padding-right: 30px;
    padding-left: 20px;
}

    /* section locais */
.section-locais{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--cor-cinza);
    border-radius: 20px;
}

.box-carrosel-locais{
    margin-left: 20px;
}

.boxs-txt-locais{
    margin-left: 30px;
}

.carousel{
    width: 40vw;
}

.d-block{
    border-radius: 10px;
}

.img-onibus{
    width: 50vw;
}

    /* Serviços */
.section-serviços{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-servicos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.titulo-servicos{
    text-align: center;
    text-decoration: underline;
    color: white;
    background-color: black;
    width:  30vw;
    border-radius: 10px;
    padding: 10px;
}

.uls-servicos{
    font-size: 2.93972602739726vh;
    list-style: none;
    text-align: center;
    color: black;
}

.uls-servicos li{
    background-color: var(--cor-cinza);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
}

.box-links-servicos{
    width: 100%;
    font-size: 2.93972602739726vh;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.links-servicos{
    padding: 10px;
    background-color: var(--cor-dourada);
    color: black;
    border-radius: 10px;
}

/* Footer */    
footer{
    background-color: black;
    color: white;
    padding: 10px;
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
}

.img-logo-footer{
    width: 200px;
}

.p-copy{
    text-align: center;
}

footer a{
    color: white;
}

.box-contatos{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;
}

.h2-container-contatos{
    margin-left: 48px;
}

/* Animações */
@keyframes loop-imagens-background {
    0%{
        background: url(/imgs/1000_F_243401514_QS9aJxzx7JVTX5eAKwdpMN2zWItndDgt.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    25%{
        background-image:  url(/imgs/1000_F_387277053_Ncs8oYjHi79EuyD7dIcu6wXPvRCqmlgz.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    50%{
        background: url(/imgs/1000_F_689894069_2ZCczabMmgwsGXeaOnslDcHWOthNxiXf.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    75%{
        background: url(/imgs/praia-da-pacuiba-ilhabela.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    100%{
        background-image: url(/imgs/1000_F_243401514_QS9aJxzx7JVTX5eAKwdpMN2zWItndDgt.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
/* Médias querys */ 